a{
  text-decoration: none;
  color: black;
}

a:hover{
  color:red;
}

a:active{
  color:green;
}

* {
  box-sizing: border-box;
}

body{
  background-color:#DDDDDD;
  color:black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  line-height: 1.4em;
  margin: 0;
}

body h1{
  margin-bottom: 35px;
  margin-top: 40px;
}

.container{
  width: 95%;
  margin:auto;
}

.recipe-box {
  background-color:white;
  border: 1px black solid;
  border-radius: 15px;
  margin: 20px 0;
}



